*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}
header{
    background: lightpink;
    
    .container{
        .navbar{
            display: flex;
            align-items: center;
          justify-content: space-between;
            padding-top: 25px;
            margin-top: 15px;
            padding-bottom: 120px;

            ul{
                list-style: none;
                display: flex;
                align-items: center;
                gap: 40px;
                li a{
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 160%;
                    color: #424551;
                }
                li a:hover{
                    color: red;
                }
            }
            .navbar_get{
                display: flex;
                align-items: center;
                gap: 10px;
                .button1{
                    background: #FF3F3A;
                    border-radius: 4px;
                    width: 180px;
                    height: 52px;
                    color: white;
                    border: none;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 52px;
                }
                .button2{
                    border: none;
                    background: none;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 160%;
                    color: #424551;
                }
                .button1:hover{
                    background: none;
                    border: 1px solid #FF3F3A;
                    color: black;
                }
                .button2:hover{
                    border: 1px solid #FF3F3A;
                    color: aliceblue;
                    width: 180px;
                    height: 52px;
                    border-radius: 4px;
                }
            }
        }
        .navbar_2{
            text-align: center;
            padding-bottom: 120px;
            a{
                font-weight: 700;
                font-size: 26px;
                line-height: 150%;
                color: #FF3F3A;
                padding-bottom: 12px;
                text-decoration: none;
            }
            h1{
              width: 100%;
              
                font-weight: 900;
                font-size: 46px;
                line-height: 130%;
                color: #1E212C;
            }
        }
    }
    .dot{
        position: absolute;
        margin-left: 83.5%;
        margin-top: -180px;
    }
    .shap{
        margin-left: 60%;
    }
}